* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.app {
  max-width: 720px;
  margin: 80px auto;
  padding: 24px;
  display: flex;
  flex-direction: column;
  gap: 1em;
}

.input {
  display: block;
  margin-top: 8px;
  padding: 10px 14px;
  border-radius: 12px;
  border: 1px solid gray;
}

.input:focus {
  border-color: rgb(123, 110, 110);
}

.row {
  display: flex;
  gap: 1em;
}

