.card {
  padding: 1em;
  display: flex;
  flex-direction: column;
  gap: 0.5em;
  border-radius: 8px;
  border: 1px solid gray;
}

.button {
  width: max-content;
  padding: 6px 10px;
  color: #ebecef;
  border-radius: 8px;
  text-decoration: none;
  background: #233369;
}

.button:hover {
  background: #676c89;
}
